body {
  background-color: #222;
  color: #fff;
}

#Header {
  background-color: #333;
  padding: 1em;
  margin-bottom: 1em;
}

#Header h1 {
  margin: 0;
}

form {
  border: 1px solid #333;
  padding: 1em;
  margin-bottom: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
  color: #aaa;
}

form input[type="text"]{
  background-color: #ffffff;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

form button[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  text-decoration-color: #fff;
}


form input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #555;
}

form button[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

#Transaction table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  margin-bottom: 1em;
}

#Transaction th {
  background-color: #444;
  color: #fff;
  text-align: left;
  padding: 0.5em;
  border: 1px solid #333;
}

#Transaction td {
  border: 1px solid #ffffff;
  padding: 0.5em;
  margin: 50px;
  
}

#Transaction tbody tr:hover {
  background-color: #555;
  cursor: pointer;
}

#Transaction button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin: 0;
  cursor: pointer;
}

#Transaction button:hover {
  background-color: #444;
}

#SearchForm {
  border: 1px solid #333;
  padding: 1em;
  margin-bottom: 1em;
}

#SearchForm input[type="text"],
#SearchForm button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin-right: 0.5em;
}

#SearchForm input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #555;
}

#SearchForm button[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

section {
  margin-bottom: 2em;
}
